/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* COMMON */
body {
    font-family: 'Roboto';
    font-size: 15px;
}

.uppercase {
    text-transform: uppercase;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.block {
    display: block;
}

/* Container */
.container {
    justify-content: space-between;
    align-items: center;
    
    width: 80%;
    margin: auto;

    padding: 50px 0;
}

/* Left Menu */
.left-part a {
    color: black;
}

.left-part {
    align-items: center;
}

.personale a:hover,
.business a:hover {
    color: grey;
}

/* Logo */
.logo {
    width: 100px;
}

.logo img {
    width: 100%;
}

/* Right Menu */
.personale,
.business,
.right-menu>li {
    padding-left: 30px;
}

.right-menu a {
    color: #a0a7ac;
}

.right-menu a:hover {
    color: black;
}

/* App Button */
.app-btn {
    background-color: #f4369c;
    color: white !important;

    padding: 10px 20px;
    border-radius: 20px;
}

/* Slide */
.dropdown-element {
    position: relative;
}

.dropdown-menu {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    width: 300px;

    position: absolute;
    top: 100%;
    left: 0;

    padding: 20px;

    display: none;
}

.dropdown-menu ul>li {
    padding: 10px 0;
}

/* Perk Beta */
.beta-element {
    position: relative;
}

.beta {
    position: absolute;
    top: 10%;
    left: 10%;

    color: #f4369c;

    font-size: 12px;
}

/* Language Menu */
.language-element {
    position: relative;
}

.language-menu {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    width: 70px;
    padding: 20px;

    position: absolute;
    top: 100%;
    left: 0;

    display: none;
}

.language-menu li {
    padding: 10px 0;
}

[class*='fa-chevron'] {
    font-size: 10px;
}

/* Burger Menu */
.burger-menu {
    display: none;
}

@media all and (max-width: 1200px) {
    body {
        font-size: 12px;
    }

    .personale,
    .business,
    .right-menu>li {
    padding-left: 10px;
    }

    .app-btn {
        padding: 10px;
    }
}

@media all and (max-width: 800px) {
    header {
        position: relative;
    }

    .personale,
    .business,
    .right-menu {
        display: none;
    }

    .burger-menu {
        display: block;
        font-size: 20px;
    }

    .burger-menu:hover {
        cursor: pointer;
    }

    .hidden-menu {
        position: absolute;
        top: 70%;
        left: 0;
        
        padding: 40px 0;
        border-top: 1px solid #f4369c;

        width: 800px;
        padding-left: 200px;

        display: none;
    }

    .hidden-menu ul li {
        padding: 20px 0;
    }

    .hidden-menu ul li>a {
        color: black;
    }
}